.centeredContent {
  text-align: center;
  padding: 0px 5% 5%;
}
.leftAlignedContent {
  text-align: left;
  padding: 0px 5% 5%;
}

.backgroundImage {
  /* filter: blur(1px);
  -webkit-filter: blur(1px); */
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#uploadedImg {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

/* Add top margin to each form field (children of parent/form element), except for the first one. */
#form > * {
  margin: 10px 0px;
}
#form > *:first-child {
  margin-top: 0px;
}

.button {
  color: white;
  text-decoration: none;
}
