/* ---------- General Styles ---------- */
* {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
}
h1, h2 {
  font-family: "Fredoka", sans-serif;
}
h1 {
  color: #090D3A;
  font-size: xx-large;
}
h2 {
  color: #090D3A;
  font-size: x-large;
}
a {
  color: inherit;
}
.darkBlueBackground {
  background-color: #212957;
  color: #F2F4FA;
}
.darkBlueBackgroundHeading {
  color: #F2F4FA;
}
.blueText {
  color: #2196f3;
  font-weight: bold;
}
.grayText {
  color: #707070;
  margin-top: 0;
}
.centerText {
  text-align: center;
}
.centeredContent {
  text-align: center;
  padding: 0px 5% 5%;
}
.defaultPadding {
  padding: 2% 5% 4%;
}
.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.noBottomMargin {
  margin-bottom: 0;
}
h2.noBottomMargin {
  margin-top: 15%;
}
.topLeft {
  position: absolute;
  top: 0;
  left: 0;
}
.button {
  color: white;
  text-decoration: none;
}

/* ---------- Homepage Styles ---------- */
/* Center slideshow and make content flowing outside the element's box invisible. */
.slideshow {
  margin: 0 auto;
  overflow: hidden;
  height: 100vh;
}
.slideImage {
  width: 100%;
  /* Height should match height of slideshow class. */
  height: 100%;
  object-fit: cover;
  /* Have slideshow pictures appear on top of one another, not in a column. */
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
.slideImage.active {
  opacity: 1;
}
.slideshowDots {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}
.slideshowDot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  border: 2px solid #ffffffcc;
}
.slideshowDot:hover {
  background-color: white;
}
.slideshowDot.active {
  background-color: #2196f3;
  border: none;
}

.coastsnapCatchphrase {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #090D3A;
  font-size: x-large;
  background-color: #ffffffe6;
  padding: 1% 2% 2%;
  border-radius: 20px;
  box-shadow: 0px 2px 1px #0000004f;
}
.catchphraseHeading {
  margin-bottom: 0;
  font-size: larger;
}

.introSectionsWrapper {
  /* Make all intro sections have the height of the tallest section so that illustrations stack correctly. */
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  flex-direction: column;
}
.introSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5% 3%;
}
.mobileIntroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 5% 3%;
}
.introPic {
  width: 100%;
}
.stickySection {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 20%; /* Where illustrations stack up on website. */
}
.placeholder {
  opacity: 0;
}
.rightPadding {
  padding-right: 5%;
}

/* ---------- Location Page Styles ---------- */
.locationBackground {
  background: linear-gradient(180deg, rgba(238, 216, 191, 0.2) 15.41%, rgba(237, 154, 59, 0.2) 100%), #EED8BF;
  background-color: #EED8BF;
  z-index: -3;
  overflow-x: hidden;
}
.wave {
  z-index: -1;
  width: 100%;
}
.locationContent {
  z-index: 0;
  padding: 70px 5% 5%;
}
.locationImage {
  margin: auto auto 20px;
  display: block;
  cursor: pointer;
  border-radius: 20px;
  border: 20px solid #212957;
}

.timelapseVideos {
  display: flex;
  justify-content: center;
  position: relative;
}
.flipFlops {
  width: 30%;
  position: absolute;
  top: 45%;
  right: -6%;
  z-index: -2;
}
.timelapseContainer {
  position: relative;
  padding-top: 56.25%;  /* 16:9 aspect ratio */
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
}
.timelapseContainer iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mapContentWrapper {
  position: relative;
}
.mapWrapper {
  display: flex;
  justify-content: center;
}
.map {
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 0;
  border: 20px solid #212957;
}
.lifebuoy {
  width: 45%;
  position: absolute;
  top: 80%;
  left: -6%;
  z-index: -2;
}

.directionImage {
  max-height: 200px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
}
.margin15 {
  margin-bottom: 15px;
}

/* ---------- Upload Form Styles ---------- */
#uploadedImg {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

/* Add top margin to each form field (children of parent/form element), except for the first one. */
#form > * {
  margin: 10px 0px;
}
#form > *:first-child {
  margin-top: 0px;
}