.centeredContent {
  text-align: center;
  padding: 0px 5% 5%;
}
.leftAlignedContent {
  text-align: left;
  padding: 0px 5% 5%;
}

.backgroundImage {
  /* filter: blur(1px);
  -webkit-filter: blur(1px); */
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* Center slideshow and make content flowing outside the element's box invisible. */
.slideshow {
  margin: 0 auto;
  overflow: hidden;
  height: 85vh;
}
.slideImage {
  width: 100%;
  /* Height should match height of slideshow class. */
  height: 85%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
.slideImage.active {
  opacity: 1;
}
.slideshowDots {
  position: absolute;
  z-index: 1;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}
.slideshowDot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #ffffffcc;
}
.slideshowDot.active {
  background-color: #2196f3;
}

#uploadedImg {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

/* Add top margin to each form field (children of parent/form element), except for the first one. */
#form > * {
  margin: 10px 0px;
}
#form > *:first-child {
  margin-top: 0px;
}

.button {
  color: white;
  text-decoration: none;
}

#map {
  height: 500px;
  width: 100%;
}
